# Productie: toate se pun in Coolify. Local: copiaza in admin/.env.
GITHUB_TOKEN=
GITHUB_REPO=RTR-TECH-SOLUTIONS/lox-mobila
GITHUB_BRANCH=main
# Mod de test: calea unui clone local in care adminul face commit-uri, fara GitHub. Gol in productie.
LOCAL_REPO_DIR=
# Minimum 32 de caractere: openssl rand -hex 32
SESSION_SECRET=
# Lista de conturi; fiecare linie o genereaza `npm run user -- <email> "<Nume>" "<parola>"`
ADMIN_USERS=[]
PUBLIC_SITE_URL=https://rtr-tech-solutions.github.io/lox-mobila
ADMIN_ORIGIN=https://lox-admin.rtrsolutions.ro
